$primary:#9356DC;
$secondary:#ff79d9;
$third:#99E2D0;
$fourth:#F2F2F2;

    body
    {
        font-family: 'Shrikhand','Roboto', sans-serif;
    }
    #bloc_page
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }

    #logo
    {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: white;
        justify-content: space-between;
        i
        {
            color: black;
            padding-left: 10px;
            font-size: 30px;
        }
    }
    .Photo
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        img
        {
            object-fit: cover;
            width: 100%;
            height: 600px;
        }
    }

    .coeur
    {
        width: 97%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button
        {
            text-decoration: none;
        }
        .fa-heart  
            {
                color: $primary;
                background-color: transparent;
                font-size: xx-large;
                text-decoration: none;
                    &:hover
                    {
                        animation-name:remplir;
                        @keyframes remplir 
                        {
                        from{color:$primary} to {color:$secondary;}
                        }
                        animation-duration: 1s;
                        font-weight: bold;
                        color: $secondary;
                    }
                    &:after
                    {
                    color: $secondary;
                    }
            }
    }

    #bloc_menu
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 50px 50px 0 0;
        position: relative;
        margin-top: -200px;
        background-color: $fourth;


        h1
        {
            font-weight: bold;
            font-size: 36px;
            font-family: 'Shrikhand';
            margin-left: 15px;
        }
        h2
        {
            font-family: 'Roboto';
            font-weight: normal;
            border-bottom: 2px solid $third;
            padding-bottom: 5px;
            width: 5%;
            text-transform: uppercase;
            margin-left: 10px;
        }
    }
    .titremenu
        {
            width: 100%;
        }

    .carte
    {

        display: flex;
        flex-direction: column;
        box-shadow: 0px 5px 5px #c2c2c2;
        background-color: white;
        border-radius: 10px;
        width: 97%;
        margin-bottom: 15px;
        padding-left: 10px;
        margin-left: 10px;
        font-family: "Roboto";
        &:hover
            {   
                cursor: pointer;
                animation-duration: 800ms;
                animation-name: slide-right-left;
                @keyframes slide-right-left 
                {
                    from{width: 97%}
                    to {width: 90%;}
                }
                width: 90%;
                border-radius: 0;
            }
        .check 
        {
            display: flex;
            justify-content: center;
            position: relative;
            align-items: center;
            color: white;
            width: 7%;
            padding: 32px;
            background-color: $third;
            border-radius: 0px 10px 10px 0px;
            &:active
            {
                visibility: visible;
                box-shadow: 0px 5px 5px #c2c2c2;
            }
        }
        
    }
    

    .intitule
    {
        width: 99%;
        display: flex;
        justify-content: space-between;
    }
    .valid
    {
        display: flex;
        justify-content: flex-end;
        margin-block-start: 0;
    }

    .ensemble
    {
        height: 80px;
        .nomplat, .description,.valid
        {
            margin-block-end: 0.5em;
        }
        .description,.valid
        {
            margin-block-start: 0;
        }
        .nomplat
        {
            font-weight: bold;
        }
       .description
       {
           text-overflow: ellipsis;
           overflow: hidden;
       } 
    }

    .order
    {
        display: flex;
        margin-block-start: 1em;
        justify-content: center;
        
    }

    .commander
    {
        cursor: pointer;
        font-family: 'Roboto';
        width: 50%;
        display: flex;
        justify-content: center;
        background: linear-gradient(to right, $secondary,$primary);
        color: white;
        border-radius: 20px;
        border: none;
        padding: 10px;
        box-shadow: 1px 5px 5px #c2c2c2;
        margin-block-end: 3em;
        text-decoration: none;
        transform: scale(1);
        transition-property: transform;
            &:hover
            {
                background: linear-gradient(to right, #ff79ed, #aa65ff);
                transform: scale(1.2);
                transition-duration: 500ms;
                box-shadow: 5px 9px 9px #c2c2c2;
            }
    }

    footer
    {
        display: flex;
        font-family: "Roboto";
        flex-direction: column;
        background: #404040;
        width: 100%;
        color: white;
        i
        {
            padding-right: 5px;
        }
        h6
        {
            font-family: "shrikhand";
            font-size: 18px;
            margin-block-end: 0;
            margin-block-start: 1em;
            margin-left: 27px;
        }
        ul
        {
            list-style-type: none;
            margin-left: -10px;
        }
        li
        {
            margin-top: 10px;
        }
        a
        {
            text-decoration: none;
            color: white;
            margin-left: 10px;
        }
        .fa-utensils
        {
            font-size: 15px;
            padding-right: 15px;
        }
        .fa-hands-helping
        {   
            font-size: 13px;
            padding-right: 10px;
        }
    }

@media only screen and (max-width:768px) 
{
    #bloc_page
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    } 

    header
    {
        width: 100%;
    }
    
    #logo img
    {
        width: 100%;
    }

    .titremenu
    {
        width: 99%;
    }


}

@media only screen and (max-width:425px) 
{
    #bloc_page
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }   
    #logo img
    {
        width: 200px;
    }
    .titremenu
    {
        width: 95%;
    }
}
@media only screen and (max-width :375px)
{
    #bloc_page
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }   
}

@media only screen and (max-width: 320px)
    
{
    #bloc_page
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }   
}