body {
  font-family: "Roboto", sans-serif;
}

.load {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: load;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  display: flex;
  align-items: center;
  justify-content: center;
}
.load__item {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
@keyframes load {
  from {
    left: 0%;
  }
  to {
    left: 101%;
  }
}

.rondun {
  height: 16px;
  width: 16px;
  border-radius: 20px;
  background-color: #9356DC;
}

.ronddeux {
  height: 16px;
  width: 16px;
  border-radius: 20px;
  background-color: #FF79DA;
}

.rondtrois {
  height: 16px;
  width: 16px;
  border-radius: 20px;
  background-color: #99E2D0;
}

#bloc_page {
  display: flex;
  flex-direction: column;
  width: 1024px;
  width: 100%;
  margin: auto;
}

#logo {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 0px grey;
}

.lieu {
  display: flex;
  width: 100%;
  background-color: #F2F2F2;
  justify-content: center;
}
.lieu .fa-location-dot {
  align-items: center;
  font-size: 22px;
  padding-top: 7px;
}
.lieu #ville {
  border: none;
  background-color: #F2F2F2;
  margin-left: 10px;
  padding-left: 10px;
  font-size: 18px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.explorer {
  color: white;
  border-radius: 20px;
  padding: 10px;
  border: #FF79DA;
  box-shadow: 1px 5px 5px #c2c2c2;
  margin-block-end: 3em;
  font-size: 22px;
  width: 50%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  text-decoration: none;
}
.explorer:hover {
  background: linear-gradient(to right, #ff79ed, #aa65ff);
  transform: scale(1.3);
  transition-duration: 400ms;
  box-shadow: 3px 7px 7px #c2c2c2;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

.sous_menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-block-start: 2em;
  align-items: center;
  background: linear-gradient(white, rgba(219, 219, 219, 0.568627451));
}
.sous_menu h1, .sous_menu h2 {
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0.3em;
}
.sous_menu h1 {
  justify-content: center;
  display: flex;
}
.sous_menu h2 {
  display: flex;
  font-weight: normal;
  justify-content: center;
}
.sous_menu h3 {
  margin-block-start: -1em;
  font-weight: 100;
  font-size: 24px;
  margin-block-end: 1em;
}

.fonction {
  width: 98%;
  display: flex;
  flex-direction: column;
}
.fonction h3 {
  margin-left: 15px;
  margin-block-end: 0;
}
.fonction ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-start: 20px;
}
.fonction .intern {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fonction .sep {
  margin-left: 13px;
}
.fonction li {
  display: flex;
  width: 28%;
  background: #F2F2F2;
  border-radius: 10px;
  height: 80px;
  margin-block-start: 10px;
  justify-content: center;
  box-shadow: 1px 5px 5px #c2c2c2;
}
.fonction li:hover {
  background: #f2e7ff;
}

.chiffre1, .chiffre2, .chiffre3 {
  color: white;
  background-color: #9356DC;
  border: #9356DC;
  border-radius: 15px;
  height: 22px;
  width: 22px;
  position: absolute;
  top: 474px;
}

.chiffre1 {
  left: 18px;
}

.chiffre2 {
  left: 35.6%;
}

.chiffre3 {
  left: 70%;
}

#resto {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #F2F2F2;
}
#resto a {
  margin: 15px;
  height: 300px;
  border-radius: 10px;
  text-decoration: none;
  background-color: white;
  color: black;
}
#resto img {
  width: 97%;
  object-fit: cover;
  height: 200px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#resto h3, #resto p {
  margin-left: 20px;
}
#resto p {
  margin-block-start: 0;
  margin-block-end: 0.5em;
}
#resto h5 {
  font-weight: normal;
}
#resto i, .fa #resto:hover {
  animation-name: remplir;
  animation-duration: 1.3s;
  font-weight: bold;
  color: #FF79DA;
}
@keyframes remplir {
  from {
    color: #9356DC;
  }
  to {
    color: #FF79DA;
  }
}
#resto:after {
  color: #FF79DA;
}

.carteresto {
  padding-bottom: 15px;
}

.newpal {
  position: absolute;
  background-color: #7dcf99;
  color: green;
  padding: 10px;
  top: 630px;
  right: 6%;
}

.newnote {
  position: absolute;
  background-color: #7dcf99;
  color: green;
  padding: 10px;
  top: 965px;
  right: 6%;
}

.text {
  width: 97%;
  background-color: white;
  margin-left: 15px;
  border-radius: 0px 0px 15px 15px;
  height: 100px;
}
.text p {
  font-size: 20px;
  padding-top: 15px;
  font-weight: bold;
}
.text .coeur {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 15px;
  font-size: 18px;
}
.text .fa-heart {
  color: #9356DC;
  font-size: xx-large;
}
.text .fa-heart:hover {
  transition: 0.35s ease-in-out;
  transition-property: top, bottom, left, right, border-width;
  color: linear-gradient(rgb(147, 86, 220) 35%, rgb(255, 121, 217) 100%);
}

footer {
  display: flex;
  flex-direction: column;
  background: #404040;
  width: 100%;
  color: white;
}
footer i {
  padding-right: 5px;
}
footer h6 {
  font-family: "shrikhand";
  font-size: 18px;
  margin-block-end: 0;
  margin-block-start: 1em;
  margin-left: 27px;
}
footer ul {
  list-style-type: none;
  margin-left: -10px;
}
footer a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
footer .fa-utensils {
  padding-right: 15px;
}
footer .fa-handshake-angle {
  padding-right: 9px;
}

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
  }

  .explorer {
    margin-block-end: 1.5em;
    width: 70%;
  }

  .sous_menu h2 {
    margin-block-end: 0;
  }

  .fonction ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fonction li {
    width: 60%;
  }
  .fonction .chiffre1, .fonction .chiffre2, .fonction .chiffre3 {
    left: 21%;
  }
  .fonction .chiffre1 {
    top: 434px;
  }
  .fonction .chiffre2 {
    top: 524px;
  }
  .fonction .chiffre3 {
    top: 614px;
  }

  #resto img {
    width: 95%;
  }
  #resto .text {
    width: 95%;
  }

  .newpal {
    top: 83%;
    right: 6%;
  }

  .newnote {
    top: 120%;
    right: 6%;
  }
}
@media only screen and (max-width: 425px) {
  #bloc_page {
    width: 100%;
  }

  #logo img {
    width: 60%;
    display: flex;
  }

  .sous_menu h1 {
    font-size: 18px;
  }
  .sous_menu h2, .sous_menu h3 {
    font-size: 16px;
  }

  .explorer {
    margin-block-end: 1.5em;
    width: 70%;
    font-size: 17px;
  }

  .fonction li {
    width: 100%;
  }
  .fonction .chiffre1, .fonction .chiffre2, .fonction .chiffre3 {
    left: 5%;
  }
  .fonction .chiffre1 {
    top: 40.2%;
  }
  .fonction .chiffre2 {
    top: 49.9%;
  }
  .fonction .chiffre3 {
    top: 59.7%;
  }

  #resto img {
    width: 90%;
  }
  #resto .text {
    width: 90%;
  }

  .newpal {
    top: 75%;
    right: 10%;
  }

  .newnote {
    top: 113%;
    right: 10%;
  }
}
@media only screen and (max-width: 375px) {
  #bloc_page {
    width: 100%;
  }

  .fonction .chiffre1 {
    top: 39.4%;
  }
  .fonction .chiffre2 {
    top: 49.3%;
  }
  .fonction .chiffre3 {
    top: 58.7%;
  }
}

/*# sourceMappingURL=accueil.css.map */
