body {
  font-family: "Roboto", sans-serif;
}

#bloc_page {
  display: flex;
  flex-direction: column;
  width: 1024px;
  width: 100%;
  margin: auto;
}

#logo {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 0px grey;
}

.lieu {
  width: 100%;
  display: flex;
  background-color: #F2F2F2;
  justify-content: center;
}

h1, h2 {
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.explorer {
  color: white;
  border-radius: 20px;
  padding: 10px;
  border: #FF79DA;
  box-shadow: 1px 5px 5px #c2c2c2;
  margin-block-end: 3em;
  font-family: "Roboto";
  width: 50%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  text-decoration: none;
  transform: scale(1);
  transition-property: transform;
}
.explorer:hover {
  background: linear-gradient(to right, #ff79ed, #aa65ff);
  transform: scale(1.3);
  transition-duration: 400ms;
  box-shadow: 3px 7px 7px #c2c2c2;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

.sous_menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-block-start: 2em;
  justify-content: center;
  align-items: center;
  background: linear-gradient(white, rgba(219, 219, 219, 0.568627451));
}

h1, h2 {
  display: flex;
  justify-content: center;
}

h2 {
  font-weight: normal;
  margin-block-end: 1em;
}

.fonction {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fonction ol {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-block-start: 0;
  border-radius: 10px;
}
.fonction h3 {
  margin-left: 3%;
  margin-block-end: 0;
}
.fonction li {
  list-style-type: none;
  background: #F2F2F2;
  border-radius: 10px;
  padding: 25px;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
  margin-block-start: 10px;
}
.fonction li:hover {
  background: #f2e7ff;
}
.fonction li .chiffre {
  position: relative;
  color: white;
  background-color: #9356DC;
  border: #9356DC;
  border-radius: 15px;
  right: 155px;
}

#resto {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #F2F2F2;
}
#resto a {
  width: 40%;
  margin: 3%;
  height: 300px;
  border-radius: 10px;
  background: white;
  text-decoration: none;
  color: black;
}
#resto img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#resto h3, #resto h4, #resto h5 {
  margin-left: 3%;
}
#resto h5 {
  font-weight: normal;
}
#resto i, #resto .fa {
  color: black;
  font-size: 12px;
}
#resto p {
  position: absolute;
  bottom: 100px;
  right: 8px;
  background-color: #99E2D0;
  color: green;
  padding: 10px;
}

footer {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  background: #404040;
  width: 100%;
  color: white;
}
footer i {
  padding-right: 5px;
}
footer h6 {
  font-size: 18px;
  margin-block-end: 0;
  margin-block-start: 1em;
  margin-left: 27px;
}
footer ul {
  list-style-type: none;
  margin-left: -10px;
}
footer a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
footer .fa-utensils {
  font-size: 15px;
  padding-right: 15px;
}
footer .fa-hands-helping {
  font-size: 13px;
  padding-right: 10px;
}

/*# sourceMappingURL=accueil.css.map */
