@media only screen and (max-width: 425px)
{
    #bloc-page
    {
        width: 100%;
        margin: auto;
    }
    #logo
    {
        width: 100%;
        box-shadow: none;
    }
    #logo img
    {
        width: 100%;
    }
}